.DS_Store
build/
*.xcworkspace/
xcuserdata/
.idea
obj/
bin/
lib/
_ReSharper.*
*.csproj.user
*.resharper.user
*.resharper
*.suo
*.user
*.filters
*.cache
~$*
Debug/
Debug*/
Release*/
Win32/
x64/
*.pdb
*.aps
*~
